.travel-continer{
    height: 8rem;
    width: 8rem;
    color: #000;
    display: grid;
    /* background-color: red; */
    place-items: center;
}

.travel-image-continer{
    height: 8rem;
    width: 8rem;
}

/* img{
    height: 110%;
    width: 120%;
    object-fit: cover;
} */